@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5v3r74');
  src:  url('../fonts/icomoon.eot?5v3r74#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5v3r74') format('truetype'),
    url('../fonts/icomoon.woff?5v3r74') format('woff'),
    url('../fonts/icomoon.svg?5v3r74#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e90f";
}
.icon-wait-contact:before {
  content: "\e919";
}
.icon-form:before {
  content: "\e91f";
}
.icon-receive-code:before {
  content: "\e922";
}
.icon-play:before {
  content: "\e923";
  color: #fff;
}
.icon-muscle:before {
  content: "\e900";
  color: #27bcee;
}
.icon-comment:before {
  content: "\e901";
}
.icon-buoy:before {
  content: "\e902";
  color: #27bcee;
}
.icon-user-plus:before {
  content: "\e903";
}
.icon-flag:before {
  content: "\e904";
  color: #27bcee;
}
.icon-mobile:before {
  content: "\e905";
}
.icon-contract:before {
  content: "\e906";
}
.icon-crossfit:before {
  content: "\e907";
  color: #27bcee;
}
.icon-email:before {
  content: "\e908";
  color: #aad037;
}
.icon-check-circle:before {
  content: "\e909";
}
.icon-gloves:before {
  content: "\e90a";
  color: #27bcee;
}
.icon-swimming:before {
  content: "\e90b";
  color: #27bcee;
}
.icon-tenis-ball:before {
  content: "\e90c";
  color: #27bcee;
}
.icon-pilates:before {
  content: "\e90d";
  color: #27bcee;
}
.icon-facebook:before {
  content: "\e90e";
  color: #9ea5a7;
}
.icon-fechar:before {
  content: "\e910";
  color: #979ea0;
}
.icon-google:before {
  content: "\e911";
  color: #9ea5a7;
}
.icon-instagram:before {
  content: "\e913";
  color: #9ea5a7;
}
.icon-linkedin:before {
  content: "\e915";
  color: #9ea5a7;
}
.icon-premium:before {
  content: "\e917";
  color: #27bcee;
}
.icon-user:before {
  content: "\e918";
}
.icon-quote:before {
  content: "\e91a";
  color: #e6e9ec;
}
.icon-arrow-left:before {
  content: "\e91b";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-arrow-top:before {
  content: "\e914";
}
.icon-arrow-bottom:before {
  content: "\e916";
}
.icon-phone:before {
  content: "\e91c";
  color: #aad037;
}
.icon-whistle:before {
  content: "\e91d";
}
.icon-twitter:before {
  content: "\e91e";
  color: #9ea5a7;
}
.icon-news:before {
  content: "\e920";
  color: #27bcee;
}
.icon-youtube:before {
  content: "\e921";
  color: #9ea5a7;
}
